.centerMenu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;


}
.menuBox{
    width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    border:black 10px solid;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right,  #CB9256, #F1E2B3);;

}
.menuTitle{
    position: absolute;
    left: 20px;
    font-size: 55px;
}

.buttonContainer{
    display: flex;
    height:70px;
    align-self: flex-end;
}
.menuButton{
    width: 380px;
    height: 60px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-self: end;
    background-color: rgba(0,0,0,.25);
    font-size: 35px;
    border-radius: 15px;
    border: black 2px solid;
    z-index: 1;

}
#miniDisc{
    font-size: 30px;
    align-self:flex-end;
    position: absolute;
    left: 350px;
    bottom: 25px;
}
.menuButton:hover ~ #miniDisc{
    animation: spin 4000ms infinite linear; 

}
.menuButton:active ~ #miniDisc{
    animation: rightDisc 2000ms 1 linear forwards;
    transform-origin: bottom right;
}
.menuButton:hover{
    cursor: pointer;
}
.menuButton:active{
    animation: right 2000ms 1 linear forwards;
    transform-origin: bottom right;
}
.menuBox .discContainer .fa-compact-disc{
    font-size: 500px;
    color: #3b3c36;
    position: absolute;
    right:10px;
    align-self: center;
    animation: spin 4000ms infinite linear;

}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes right {
    75%{background-color: black;}
    100%{transform: rotate(90deg); background-color: black;}
}
@keyframes rightDisc {
    50%{left:360px}
    100%{transform: rotate(100deg); left:370px}
}