* {
    box-sizing: border-box;
    margin: 0px;
}
.menuBox{
    user-select: none;
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: orange;

}
.menuTitle{
    position: absolute;
    left: 8%;
    top: 5%;
    font-size: 11em;
    color: black;
}

.menuButton{
    width: 18em;
    height: 2em;
    left: 5%;
    bottom: 13%;
    position: absolute;
    font-size: 2.5em;
    border: black 2px solid;
    border-radius: 5px;
    z-index: 1;
    background-color: black;
    color: orange;
    transition: 0.3s ease;
    transition-property: background-color, color;
}
#miniDisc{
    color: orange;
    font-size: 2em;
    position: absolute;
    left: 41%;
    bottom: 15.4%;
}
.menuButton:hover ~ #miniDisc{
    animation: spin 4000ms infinite linear; 

}
.menuButton:hover{
    background-color: orange;
    color: black;
    cursor: pointer;
    transition: 0.3s ease;
}
.discContainer{
    display: flex;
}
.menuBox .discContainer .fa-compact-disc{
    font-size: 44em;
    color: black;
    position: absolute;
    right:12%;
    top: 14%;
}

.start-spin {
    animation: start-spin 900ms ease-in;
}

.continue-spin {
    animation: continue-spin 1350ms linear;
}

.spin {
    animation: spin 1800ms infinite linear;
}

.rotating{
    animation: right 2000ms 1 ease-out forwards;
    transform-origin: bottom right;
}

.hideDisc{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.1s linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes start-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

@keyframes continue-spin {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes right {
    50%{background-color: black;  border-color: black; color: black;}
    100%{transform: rotate(119deg); background-color: rgb(61, 61, 61); border-radius: 60px; border-color: rgb(61, 61, 61); color: rgb(61, 61, 61);}
}
