* {
    box-sizing: border-box;
    margin: 0px;
}
.menuBox{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background-color: orange;

}
.menuTitle{
    position: absolute;
    left: 8%;
    top: 5%;
    font-size: 6em;
    font-family: helvetica;
}

.menuButton{
    width: 18em;
    height: 2em;
    left: 5%;
    bottom: 13%;
    position: absolute;
    background-color: rgba(0,0,0,.25);
    font-size: 2.5em;
    border-radius: 15px;
    border: black 2px solid;
    z-index: 1;
}
#miniDisc{
    font-size: 2em;
    position: absolute;
    left: 41%;
    bottom: 15.4%;
}
.menuButton:hover ~ #miniDisc{
    animation: spin 4000ms infinite linear; 

}
.menuButton:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,.3);
}
.discContainer{
    display: flex;
}
.menuBox .discContainer .fa-compact-disc{
    font-size: 44em;
    color: #3b3c36;
    position: absolute;
    right:12%;
    top: 14%;
    animation: spin 4000ms infinite linear;
}
.rotating{
    animation: right 2000ms 1 ease-out forwards;
    transform-origin: bottom right;
}
.hideDisc{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.1s linear;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes right {
    50%{background-color: black;}
    100%{transform: rotate(119deg); background-color: black; border-radius: 60px;}
}
