#display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background: ;
}

#editor-menu {
    width: 250px;
    height:  500px;
    border-radius: 15px;
    border: 10px ridge darkgrey;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0 0 0;
}

#button {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: lightcoral;
    border: 5px outset salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.3s;
}

html {
    height:100%;
    background:orange;
    box-shadow:inset 0 0 1em black;
    overflow:hidden;
}

.tile {
    width: 40px;
    height: 40px;
    text-align: center;
    background: #f6f6f6;
}

.tile.obstacle {
    background-color: black;
}

.tile.goal {
    background-color: lightskyblue;
}

.tile.player {
    text-align: center;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.tile.obstacle {
    background-color: indigo;
}

#button.save-button, #button.load, #button.generate-map {
    background-color: lightgreen;
    border-color: chartreuse;
}

#button:hover {
    scale: 1.2;
}

#button:active {
    scale: 0.9;
}