#display, #background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#background {
    width: 1200px;
    height: 600px;
    z-index: -1;
    background-color: green;
}

#editor-menu {
    width: 250px;
    height:  500px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#button {
    height: 50px;
    width: 150px;
}



.tile {
    width: 40px;
    height: 40px;
    text-align: center;
}

.tile.obstacle, div#button.obstacle {
    background-color: black;
}

.tile.goal, div#button.goal {
    background-color: lightskyblue;
}

.tile.player, div#button.player {
    text-align: center;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.tile.obstacle {
    background-color: indigo;
}