#display, #background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

#background {
    width: 1200px;
    height: 600px;
    z-index: -1;
    background-color: lightgray;
    border-radius: 10px;
}

#editor-menu {
    width: 250px;
    height:  500px;
    border-radius: 15px;
    border: 10px ridge darkgrey;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0 0 0;
}

#button {
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: lightcoral;
    border: 5px outset salmon;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.3s;
}

.tile {
    width: 40px;
    height: 40px;
    text-align: center;
}

.tile.obstacle {
    background-color: black;
}

.tile.goal {
    background-color: lightskyblue;
}

.tile.player {
    text-align: center;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.row {
    display: flex;
}

.tile.obstacle {
    background-color: indigo;
}

#button.save-button {
    background-color: lightgreen;
    border-color: chartreuse;
}

#button:hover {
    scale: 1.2;
}

#button:active {
    scale: 0.9;
}